RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|\.svg|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(css|js|images|vendor|scss|icons|themify-icons|fonts|svg)/(.*)$ public/$1/$2/$3/$4 [L,NC]

<IfModule mod_php.c>
    php_value upload_max_filesize 512M
    php_value post_max_size 520M
    php_value memory_limit 768M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>

<IfModule mod_php7.c>
    php_value upload_max_filesize 512M
    php_value post_max_size 520M
    php_value memory_limit 768M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>

<IfModule mod_php8.c>
    php_value upload_max_filesize 512M
    php_value post_max_size 520M
    php_value memory_limit 768M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>
